{{ define "main" }}
{{ .Scratch.Set "figure_count" 1 }}
<div class="prose dark:prose-invert m-auto">
<div class="mb-3">
  <h1 class="top-h1">{{- .Title -}}</h1>
  <p class="mb-1">{{ .Date.Format "January 2, 2006" }}</p>
  {{ with .Params.tags }}
  <div class="mb-3 flex flex-wrap gap-2">
    {{ range . }}
    <a class="tags no-underline" href="{{ `blogs` | relURL }}?tag={{ . | urlize }}">#{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
  <p>&mdash;</p>
</div>
<div class="content">
  {{ .Content }}
</div>
</div>
{{ partial "prevnext" . }}
{{ end }}
