{{ if .Site.Data.publications.types }}
{{ range .Site.Data.publications.types }}
{{ $type := . }}
<h4 style="text-decoration: underline;">{{ $type }}</h4>
<ul class="mb-0 pl-6 list-disc">
{{- range $.Site.Data.publications.list -}}
{{ if eq $type .type }}
{{- $thisPublication := . -}}
<li class="mb-3">
  <div>
    {{- with index $thisPublication "title" -}}
      {{- . | markdownify -}}
    {{- end -}}
    {{- with index $thisPublication "year" -}}
      {{- printf "&nbsp;%s" (. | markdownify) | safeHTML -}}
    {{- end -}}
  </div>
  {{- with index $thisPublication "authors" -}}
    <div>{{- . | markdownify -}}</div>
  {{- end -}}
  {{- with index $thisPublication "venue" -}}
    <div>{{- . | markdownify -}}</div>
  {{- end -}}
</li>
{{ end }}
{{- end -}}
</ul>
{{ end }}

{{ else }}

<ul class="mb-0 pl-6 list-disc">
{{- range .Site.Data.publications.list -}}
{{- $thisPublication := . -}}
<li class="mb-3">
  <div>
    {{- with index $thisPublication "title" -}}
      {{- . | markdownify -}}
    {{- end -}}
    {{- with index $thisPublication "year" -}}
      {{- printf "&nbsp;%s" (. | markdownify) | safeHTML -}}
    {{- end -}}
  </div>
  {{- with index $thisPublication "authors" -}}
    <div>{{- . | markdownify -}}</div>
  {{- end -}}
  {{- with index $thisPublication "venue" -}}
    <div>{{- . | markdownify -}}</div>
  {{- end -}}
</li>
{{ end }}
</ul>
{{ end }}
